Unattended-Upgrade::Allowed-Origins {
        "${distro_id}:${distro_codename}-security";
        "${distro_id}ESMApps:${distro_codename}-apps-security";
        "${distro_id}ESM:${distro_codename}-infra-security";
{% if packages_autoupdate_for_all_packages | bool %}
        "${distro_id}:${distro_codename}";
        "${distro_id}:${distro_codename}-updates";
{% endif %}
};

Unattended-Upgrade::Package-Blacklist {
};

Unattended-Upgrade::AutoFixInterruptedDpkg "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

Unattended-Upgrade::Automatic-Reboot "{{ packages_autoupdate_automatic_reboot | lower }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
Unattended-Upgrade::Automatic-Reboot-Time "{{ packages_autoupdate_automatic_reboot_time }}";

Unattended-Upgrade::SyslogEnable "true";
