HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

Port {{ ssh_port }}
AuthenticationMethods publickey
PasswordAuthentication no
PermitRootLogin {{ ssh_permit_root_login }}

ChallengeResponseAuthentication no
UsePAM yes

PrintMotd no

AcceptEnv LANG LC_*

AllowAgentForwarding {{ 'yes' if (ssh_allow_agent_forwarding|bool) else 'no' }}
AllowTcpForwarding {{ 'yes' if (ssh_allow_tcp_forwarding|bool) else 'no' }}
X11Forwarding {{ 'yes' if (ssh_x11_forwarding|bool) else 'no' }}
X11UseLocalhost yes

# Specifies which address family should be used by sshd
# fix for X11Forwarding
AddressFamily inet

Compression {{ 'yes' if (ssh_compression|bool) else 'no' }}
UseDNS {{ 'yes' if (ssh_use_dns|bool) else 'no' }}

SyslogFacility {{ ssh_syslog_facility }}
LogLevel {{ ssh_log_level }}

# Disable TCP keep alive since it is spoofable. Use ClientAlive messages instead, they use the encrypted channel
TCPKeepAlive no

# Manage `ClientAlive..` signals via interval and maximum count.
ClientAliveInterval {{ ssh_client_alive_interval }}
ClientAliveCountMax {{ ssh_client_alive_count }}

{% if ansible_os_family == "RedHat" %}

Subsystem sftp /usr/libexec/openssh/sftp-server
{% endif %}

{% if ansible_os_family == "Debian" %}

Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}

{% if ansible_distribution == "Amazon" %}

# for aws ec2-instance-connect
AuthorizedKeysCommand /opt/aws/bin/eic_run_authorized_keys %u %f
AuthorizedKeysCommandUser ec2-instance-connect
{% endif %}

{% if user_configure and user_group_ssh_password_auth %}

Match Group {{ user_group_name }}
    AuthenticationMethods publickey password
    PasswordAuthentication yes
    PermitEmptyPasswords no
{% endif %}
