---
interface:
  {{ ansible_facts['default_ipv4']['interface'] }}:
    exists: true
  lo:
    exists: true
dns:
  localhost:
    resolvable: true
    addrs:
      consist-of: ["127.0.0.1", "::1"]
    timeout: 500
  A:google.com:
    resolvable: true
